<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.cafebot.persistence.location.LocationMapper">
    <select id="getAll" resultType="com.example.cafebot.persistence.location.Location" resultMap="getAllResultMap">
        <![CDATA[
        SELECT "Id", "Longitude", "Latitude"
         FROM "Cafe"
        ]]>
    </select>
    <resultMap id="getAllResultMap" type="com.example.cafebot.persistence.location.Location" autoMapping="true">
        <id property="id" column="Id"/>
    </resultMap>
</mapper>